<h1> <%= @recettes[3].titre %> </h1>
<b>Étapes:</b> <%= @recettes[3].etapes %> <br />
<b>Ingrédients:</b> <% @recettes[3].ingredients.each do |i| %> <%= i.recette_ingredients[0].quantite.to_s + i.recette_ingredients[0].unite + " " + i.nom + ", " %>
<% end %>